@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .codeblock {
    @apply relative my-4;
  }

  .codeblock .preview {
  }

  .codeblock .code {
    @apply bg-stone-800 rounded-lg px-4 py-2 overflow-x-auto text-white mt-4 text-sm dark:bg-black;
  }
}

/* font */
@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 400;
  src: url(../fonts/PoppinsVN-400.woff2) format("woff2"), url(../fonts/PoppinsVN-400.woff) format("woff"), url(../fonts/PoppinsVN-400.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 600;
  src: url(../fonts/PoppinsVN-600.woff2) format("woff2"), url(../fonts/PoppinsVN-600.woff) format("woff"), url(../fonts/PoppinsVN-600.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 700;
  src: url(../fonts/PoppinsVN-700.woff2) format("woff2"), url(../fonts/PoppinsVN-700.woff) format("woff"), url(../fonts/PoppinsVN-700.ttf) format("truetype")
}

/* @font-face {
  font-family: MyPoppins;
  src: url(../fonts/Poppins-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: MyPoppins;
  src: url(../fonts/Poppins-Bold.otf);
  font-weight: 700;
} */

/* scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 2.5px;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}