@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .codeblock {
    @apply relative;
  }

  .codeblock .preview {
  }

  .codeblock .code {
    @apply bg-stone-800 rounded px-4 py-2 overflow-x-auto text-white mt-4 text-sm dark:bg-black;
  }

  /* scroll */
  .myscroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
  }

  .myscroll::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 2.5px;
  }
  
  .myscroll::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    border-radius: 2.5px;
  }

  .myscroll::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  .transition-size {
    transition-property: width height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  /* icon */
  ion-icon[name="home"], ion-icon[name="home-outline"] {
    @apply mb-[0.2em];
  }
}

/* font */
@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 400;
  src: url(../fonts/PoppinsVN-400.woff2) format("woff2"), url(../fonts/PoppinsVN-400.woff) format("woff"), url(../fonts/PoppinsVN-400.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 500;
  src: url(assets/fonts/PoppinsVN-500.woff2) format("woff2"), url(assets/fonts/PoppinsVN-500.woff) format("woff"), url(assets/fonts/PoppinsVN-500.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 600;
  src: url(../fonts/PoppinsVN-600.woff2) format("woff2"), url(../fonts/PoppinsVN-600.woff) format("woff"), url(../fonts/PoppinsVN-600.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 700;
  src: url(../fonts/PoppinsVN-700.woff2) format("woff2"), url(../fonts/PoppinsVN-700.woff) format("woff"), url(../fonts/PoppinsVN-700.ttf) format("truetype")
}