<%- await include('.parts/header.ejs', { page: { active: 'Alert' } }) %>
<h1 class="text-3xl mt-4 font-semibold">Alert</h1>

<div class="p-4 rounded border bg-white border-gray-100 mt-4
dark:bg-gray-900 dark:border-gray-800">

  <div class="codeblock">
    <div class="bg-primary-200 text-primary-800 p-4 rounded mb-4 flex items-center">
      <ion-icon class="text-lg mr-3" name="alert-circle"></ion-icon>
      <span>Primary Alert! This is a <a class="font-semibold underline" href="#">example link</a> to preview.</span>
      <span class="ml-auto"></span>
      <ion-icon class="text-lg" name="close"></ion-icon>  
    </div>

    <div class="bg-secondary-200 text-secondary-800 p-4 rounded mb-4 flex items-center">
      <ion-icon class="text-lg mr-3" name="alert-circle"></ion-icon>
      <span>Secondary Alert! This is a <a class="font-semibold underline" href="#">example link</a> to preview.</span>
      <span class="ml-auto"></span>
      <ion-icon class="text-lg" name="close"></ion-icon>  
    </div>

    <div class="bg-success-200 text-success-800 p-4 rounded mb-4 flex items-center">
      <ion-icon class="text-lg mr-3" name="alert-circle"></ion-icon>
      <span>Success Alert! This is a <a class="font-semibold underline" href="#">example link</a> to preview.</span>
      <span class="ml-auto"></span>
      <ion-icon class="text-lg" name="close"></ion-icon>  
    </div>

    <div class="bg-danger-200 text-danger-800 p-4 rounded mb-4 flex items-center">
      <ion-icon class="text-lg mr-3" name="alert-circle"></ion-icon>
      <span>Danger Alert! This is a <a class="font-semibold underline" href="#">example link</a> to preview.</span>
      <span class="ml-auto"></span>
      <ion-icon class="text-lg" name="close"></ion-icon>  
    </div>

    <div class="bg-info-200 text-info-800 p-4 rounded mb-4 flex items-center">
      <ion-icon class="text-lg mr-3" name="alert-circle"></ion-icon>
      <span>Info Alert! This is a <a class="font-semibold underline" href="#">example link</a> to preview.</span>
      <span class="ml-auto"></span>
      <ion-icon class="text-lg" name="close"></ion-icon>  
    </div>

    <div class="bg-warn-200 text-warn-800 p-4 rounded mb-4 flex items-center">
      <ion-icon class="text-lg mr-3" name="alert-circle"></ion-icon>
      <span>Warn Alert! This is a <a class="font-semibold underline" href="#">example link</a> to preview.</span>
      <span class="ml-auto"></span>
      <ion-icon class="text-lg" name="close"></ion-icon>  
    </div>
  </div>
  
</div>
<%- await include('.parts/footer.ejs') %>