<%- await include('.parts/header.ejs', { page: { active: 'Button' } }) %>
<h1 class="mt-4 text-3xl font-semibold">Button</h1>

<div class="p-4 rounded border bg-white border-gray-100 mt-4
dark:bg-gray-900 dark:border-gray-800">

  <h2 class="text-xl mb-2">Simple</h2>

  <div class="codeblock">
    <div class="mb-4">
      <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-primary-500">Primary</button>
      <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-secondary-500">Secondary</button>
    </div>

    <div class="mb-4">
      <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-success-500">Success</button>
      <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-danger-500">Danger</button>
    </div>

    <div class="mb-4">
      <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-info-500">Info</button>
      <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-warn-500">Warning</button>
    </div>
  </div>

</div>
<%- await include('.parts/footer.ejs') %>