<%- await include('.parts/header.ejs', { page: { active: 'Dialog' } }) %>
<h1 class="mt-4 text-3xl font-semibold">Dialog</h1>

<div class="p-4 rounded border bg-white border-gray-100 mt-4
dark:bg-gray-900 dark:border-gray-800">

  <div class="codeblock">
    <input type="checkbox" id="m-control-dialog" class="peer hidden">
    <label for="m-control-dialog" class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-primary-500">Open Dialog</label>
    <div class="hidden fixed h-screen w-screen top-0 left-0 z-30 overflow-auto p-4 myscroll
    peer-checked:block">
      <label for="m-control-dialog" class="h-screen w-screen fixed top-0 left-0 z-10 bg-black bg-opacity-50
      dark:bg-black dark:bg-opacity-80"></label>
      <div class="bg-white max-w-3xl w-full mx-auto mt-12 p-4 rounded-lg relative z-30
      dark:bg-[#1d2432] dark:border dark:border-[#292f3d]">
        <h1 class="text-2xl">This is a dialog</h1>
        <p class="my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus quam, malesuada in lectus at, finibus pharetra ante. Donec eget augue libero. Praesent feugiat eleifend dui, eget suscipit lectus gravida nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut commodo leo, efficitur rutrum metus. Phasellus malesuada nunc non magna ultrices, quis scelerisque sem sodales. Aliquam nec tincidunt tortor. Integer aliquet sagittis erat, vitae commodo odio suscipit ut. In hac habitasse platea dictumst. Suspendisse elementum ligula a neque semper egestas.
        </p>
        <p class="my-4">
        Cras feugiat magna id leo ullamcorper, in commodo tortor tristique. Praesent facilisis nisi et lectus dictum, eu aliquet elit aliquam. Aenean dignissim, ligula quis rhoncus dignissim, felis sapien ultrices risus, non aliquam leo odio sit amet libero. Sed a neque facilisis, tempor mi nec, dictum mi. Vivamus id velit sed neque aliquet volutpat a ut libero. Aenean non libero ut magna iaculis maximus. Pellentesque ac magna scelerisque, efficitur justo a, vestibulum felis. Etiam iaculis eget orci at tempor. In quis orci in lacus tempor sodales et venenatis metus. Integer efficitur gravida risus, vel ornare turpis aliquam vestibulum. Curabitur metus tellus, tincidunt in molestie pretium, mattis eu ipsum. Curabitur facilisis molestie augue eu pretium. Sed auctor, nibh id pretium vestibulum, odio dolor pellentesque quam, sit amet blandit ligula metus eget dui. Pellentesque ac elit eget turpis dictum venenatis.
        </p>
        <p class="my-4">
        Vestibulum ullamcorper mi sed vestibulum tempus. Nulla quis iaculis justo. Praesent facilisis porttitor risus, non posuere mi fermentum a. Vestibulum vel lectus ut magna mollis accumsan. In orci dui, interdum ac condimentum quis, consectetur ac tellus. Nunc sollicitudin mauris consequat, pellentesque neque ut, lacinia urna. Sed laoreet laoreet leo, nec sagittis ligula ultrices vel. Donec id sagittis odio.
        </p>
        <p class="my-4">
        Nulla enim quam, finibus vitae pharetra non, malesuada vel leo. Quisque ultrices augue nunc, sit amet sodales risus commodo quis. Cras dictum ante quis urna sagittis, vitae ullamcorper enim aliquam. Sed vel fermentum risus. In semper sed massa non elementum. Vivamus convallis imperdiet libero a mollis. Donec eget lobortis odio. Praesent rutrum dui at vehicula auctor. Duis convallis vehicula nibh, vitae lobortis velit rutrum ut. Nulla semper libero vitae maximus dictum.
        </p>
        <p class="my-4">
        Nullam in ipsum sapien. Vestibulum nibh arcu, tincidunt sed justo non, lobortis malesuada est. In porttitor mauris quis consequat aliquet. Praesent bibendum iaculis ultrices. Integer tincidunt ante et mi luctus, eget ullamcorper augue laoreet. Pellentesque ante mi, elementum sed sapien sed, ultricies faucibus lacus. Nam id ante nisl. Aenean fermentum neque nulla, ac fermentum eros ultricies nec. Nulla faucibus nunc vulputate euismod congue. Etiam ac enim sed justo bibendum vehicula ut eu magna. Nunc congue tempor velit non tincidunt. Curabitur non massa sit amet mauris bibendum auctor. Pellentesque gravida tortor ac ex auctor scelerisque.
        </p>
      </div>
    </div>
  </div>

</div>

<%- await include('.parts/footer.ejs') %>