<%- await include('.parts/header.ejs', { page: { active: 'Dropdown' } }) %>
<h1 class="mt-4 text-3xl font-semibold">Dropdown</h1>

<div class="p-4 rounded border bg-white border-gray-100 mt-4
dark:bg-gray-900 dark:border-gray-800">

  <div class="codeblock">
    <button class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-primary-500 peer">
      Primary
      <ion-icon class="ml-3" name="caret-down"></ion-icon>
    </button>
    <ul class="w-48 rounded-lg bg-white border hidden absolute mt-2 shadow-lg
    peer-focus:block
    dark:bg-gray-800 dark:border-gray-700">
      <li class="py-2 px-4 cursor-pointer rounded-t-lg
      hover:bg-gray-100
      dark:hover:bg-gray-700">Profile</li>
      <li class="py-2 px-4 cursor-pointer
      hover:bg-gray-100
      dark:hover:bg-gray-700">Settings</li>
      <li class="py-2 px-4 cursor-pointer
      hover:bg-gray-100
      dark:hover:bg-gray-700">Messages</li>
      <li class="py-2 px-4 cursor-pointer rounded-b-lg
      hover:bg-gray-100
      dark:hover:bg-gray-700">Download</li>
    </ul>
  </div>

</div>

<%- await include('.parts/footer.ejs') %>