<%- await include('.parts/header.ejs', { page: { active: 'Input' } }) %>
<h1 class="mt-4 text-3xl font-bold">Input</h1>
<h2 class="mt-6 text-xl font-bold mb-2">Simple</h2>
<div class="codeblock">
  <input 
    type="email" 
    id="input-01" 
    placeholder=" "
    class="block border w-full py-2 px-3 rounded peer
      focus:border-black
      dark:bg-stone-800 dark:border-stone-500"
  >
  <label 
    for="input-01" 
    class="absolute top-[-.7em] left-2 px-1 bg-white cursor-text transition-all text-xs text-stone-600
      peer-focus:top-[-.7em] peer-focus:text-xs peer-focus:text-black
      peer-placeholder-shown:top-2 peer-placeholder-shown:text-base
      dark:bg-stone-800 dark:text-stone-500 
      dark:peer-focus:text-white"
    >
      Email
  </label>
</div>
<%- await include('.parts/footer.ejs') %>