<%- await include('.parts/header.ejs', { page: { active: 'Notification' } }) %>
<h1 class="mt-4 text-3xl font-semibold">Notification</h1>

<div class="p-4 rounded border bg-white border-gray-100 mt-4
dark:bg-gray-900 dark:border-gray-800">

  <div class="codeblock">
    <input type="checkbox" id="m-control-dialog" class="peer hidden">
    <label for="m-control-dialog" class="px-4 py-2 rounded-lg inline-flex items-center text-white bg-primary-500">Push notification</label>
    <div class="hidden fixed bottom-6 right-6 bg-primary-500 text-white px-4 py-2
    peer-checked:block
    animate__animated animate__fadeInRight animate__faster">
      This is a notify message.
    </div>
  </div>

</div>
<%- await include('.parts/footer.ejs') %>