<!DOCTYPE html>
<html lang="en">
<head>
  <%- await include('.parts/head.ejs') %>
</head>
<body class="w-screen min-h-screen flex items-center justify-center text-sm">
  <div class="width-full max-w-2xl text-center">
    <!-- @todo: Logo in dark -->
    <img class="w-auto h-7 mx-auto" src="assets/images/logo-w-text.svg" alt="Mintailor Logo Only">

    <div class="bg-success-100 text-success-800 p-4 rounded mt-16 border border-success-200
    md:p-8">
      <h1 class="text-xl font-semibold
      md:text-3xl">You are successful!</h1>
      <p class="mt-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut sodales lacus, ac vestibulum lectus. Nulla facilisi. Suspendisse laoreet augue ac justo lacinia, in maximus quam volutpat.</p>
      <a href="index.html" class="mt-6 px-4 py-2 rounded-lg inline-flex items-center text-white bg-success-500">Back to home!</a>
    </div>
  </div>
</body>
</html>